.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-item {
  padding: 2%;
}


#btn {
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.container {
  background-color: darkblue;

}

.link {
  color: white;
}
.TechSkills h2{
  text-align: center;
  text-shadow: 2px 2px #1a2b47;
  color: blueviolet;
 
}

 .TechSkills p {
 padding: 4%;
} 

.contact h2{
  text-align: center;
  text-shadow: 2px 2px #1a2b47;
  color: blueviolet;
}

.contact {
  padding-left: 10%;
}

/* .home {
  color: white;
  background-image: url("Devpic.png");
} */
